<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Failure</title>
</head>

<body>
    <h1>Valar Morghulis!</h1>
    <ul>
        <% error.forEach(function (e) { %>
        <li> <%= e %> - N0 RESPONSE</li>
        <% }) %>
    </ul>
</body>

</html>