<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OUTPUT</title>
</head>

<body>
    <h1>Our hounds were successful</h1>
    <ul>
        <% titles.forEach(function (title) { %>
        <li> <%= title %></li>
        <% }) %>
    </ul>
</body>

</html>